@media print {
  body {
    &.is-trainee-results-tab-shown {
      html & > * {
        display: block !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
      }

      .nav-tabs,
      .studio-header,
      .wrapper-footer,
      .finalized-editable-hint {
        display: none;
      }

      .bg-primary-100 {
        background: var(--pgn-color-primary-100) !important;
      }
      .bg-warning-100 {
        background: var(--pgn-color-warning-100) !important;
      }
      .bg-success-100 {
        background: var(--pgn-color-success-100) !important;
      }
      .bg-dark-100 {
        background: var(--pgn-color-dark-100) !important;
      }
      .bg-info-100 {
        background: var(--pgn-color-info-100) !important;
      }

      .studio-header {
        ~ .container-fluid {
          padding: 0 !important;
          > .d-flex.justify-content-between {
            display: none !important;
          }
        }
      }

      .trainee-page-sub-header {
        display: none !important;
      }

      .bulk-results-grid {
        .action-column {
          display: none;
        }
        th {
          button {
            display: none;
          }
        }
      }

      .bulk-trainee-results-tab {
        > .pgn__vstack,
        .bulk-results-focus-filter,
        .bulk-results-finalize-bar {
          display: none;
        }
      }

      .tab-pane {
        display: none !important;
        &.active {
          display: block !important;
        }
      }
      * { visibility: hidden; }

      .bulk-results-grid-wrapper {
        visibility: visible;
        width: 100%;
        overflow: visible;

        * {
          visibility: visible;
          position: static !important;
        }
      }
    }
  }
}
