.studio-home {
  margin: 3rem 1.5rem 1.5rem;

  .help-sidebar {
    margin-top: 0;
  }

  .studio-home-sub-header {
    margin-bottom: 2rem;
  }
}

.organization-section {
  margin-bottom: 2.25rem;

  .organization-section-title {
    color: var(--pgn-color-black);
  }

  .organization-section-form {
    margin: var(--pgn-spacing-spacer-base) 0 -8px;

    .organization-section-form-label {
      color: var(--pgn-color-gray-700);
      margin-bottom: 0;
      margin-right: .75rem;
    }

    .organization-section-form-control {
      border-color: var(--pgn-color-gray-500);

      .form-control {
        font-size: .875rem;
        line-height: 1.5rem;
        height: 2.75rem;
      }
    }
  }
}

.studio-home-tabs {
  border: none;
  margin-bottom: 1.625rem;

  .nav-link {
    border-bottom: .125rem solid var(--pgn-color-light-400);
    white-space: nowrap;

    &.pgn__tab_more {
      margin-bottom: calc(var(--pgn-size-nav-tabs-border-width) * -1);
    }
  }

  .nav-link.active {
    background-color: transparent;
  }


}

.courses-tab {
  margin: 1.625rem 0;
}

.programs-filters {
  gap: var(--pgn-spacing-spacer-3);

  &__search {
    flex: 1 1 100%;
  }

  &__control {
    flex: 1 1 0;
    min-width: 0;

    .btn {
      width: 100%;
    }
  }

  @media (--pgn-size-breakpoint-min-width-md) {
    gap: 0;

    &__search {
      flex: 0 1 auto;
    }

    &__control {
      flex: 0 0 auto;

      .btn {
        width: auto;
      }
    }
  }
}

.card-item {
  margin-bottom: 1.5rem;

  .pgn__card-header {
    padding: .9375rem 1.25rem;

    .pgn__card-header-content {
      margin: 0;
      overflow: hidden;
    }

    .pgn__card-header-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
    }
  }

  .card-item-title {
    font: normal var(--pgn-typography-font-weight-semi-bold) 1.125rem/1.75rem var(--pgn-typography-font-family-base);
    color: var(--pgn-color-black);
    margin-bottom: .1875rem;
  }

  .pgn__card-header-subtitle-md {
    font: normal var(--pgn-typography-font-weight-normal) .75rem/1.25rem var(--pgn-typography-font-family-base);
    color: var(--pgn-color-gray-700);
    margin: 0;
  }
}

.spinner-icon {
  animation: rotate 2s infinite linear;
}
